@page "/"

<PageTitle>Home</PageTitle>
<h1>Lane Bandli</h1>
<p>336-247-9592</p>
<p>Ltcbandli98@gmail.com</p>

<h2>Objective:</h2>
<p>Innovative and results-oriented software engineer with extensive experience in full-stack development, entrepreneurship, and leadership roles. Seeking opportunities to leverage technical expertise and entrepreneurial spirit to drive impactful solutions in a collaborative environment.</p>

<h2>Experience:</h2>

<h3>Software Engineer</h3>
<p>Moto Technology Services, Virginia Beach, Virginia</p>
<p>Mar 2018 - Apr 2024</p>
<ul>
    <li>Lead software engineer responsible for designing, developing, and maintaining software solutions for a large college including tracking attendance by submitted assignments as well as all tracking related to nursing certifications.</li>
    <li>Modernized many processes from data tables and older technologies to the latest technologies</li>
    <li>Collaborated with cross-functional teams to deliver high-quality, scalable applications, meeting project objectives and timelines.</li>
    <li>The development stack for this role was primarily C# and MSSQL with a Jquery and Bootstrap front end. We had small one off projects that included : Xamarin, Angular, React.</li>
</ul>

<!-- Add other experience entries in similar format -->

<h2>Skills:</h2>
<ul>
    <li>Project Types: Web, Service based, Restful APIs</li>
    <li>Languages: C#, TSql, React, Angular</li>
    <li>Web Development: HTML, CSS, JavaScript, etc.</li>
    <li>Database Management: MSSQL, Postgres</li>
    <li>Full Software Development Lifecycle</li>
    <li>Leadership and Team Collaboration</li>
    <li>Entrepreneurship and Business Management</li>
    <li>Problem-solving and Troubleshooting</li>
    <li>Deadline management and project estimates</li>
</ul>

<h2>References:</h2>
<p>Available upon request.</p>